{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/css/style_menuform.css') }}>
{% endblock %}

{% block body %}

<form  method="POST" action="{{path("app_menuformenregistrement",{ semaine_year })}}">

<h2 class="week-title"> SEMAINE : {{Date_recuperee['1']}} </h2>
 <div class="button-container">
    <button id="menu-button-valider" type="submit">Enregistrer le menu</button>
        </div>


{% set Day=['Lundi', 'Mardi','Mercredi','Jeudi','Vendredi','Samedi','Dimanche'] %}
<div class="grid-container">
{% for i in 1..7 %}
    <div class="card">

    <div class={{Day[i-1] ~ "-container"}}>
    <img class={{Day[i-1] ~ "-img"}} src={{ asset("assets/img/" ~ Day[i-1] ~ ".png")}} alt="">
    
</div>
<div class="date-week-container">
    <h2 class="date-week"> {{Date_recuperee['0'][i-1]|date("d/m")}}</h2>

    </div>
        {% for meal in ['m','s'] %}
        <div class="meal">
        {% if loop.first %} <h3 class="titremidi">Plat du midi </h3> {% else %}<h3 class="titresoir">Plat du soir </h3>{% endif %}
            <div class="course">
                
                {% set NameDay= {'entree':'Entrée', 'plat':'Plat', 'dessert':'Dessert'}%}
              {% for course in ['entree', 'plat', 'dessert'] %}
                <label for="">{{NameDay[course]}} :</label>
                <div class="course-container">
                    <div class="course">
                        {% if Menu_A[course ~ '_' ~ meal ~ i] is not empty %}
                            {% for k in 0..(Menu_A[course ~ '_' ~ meal ~ i]|length)-1 %}
                                <div class="center-div">
                                    <h4 class="center-text column-element"> {{Menu_A[course ~ '_' ~ meal ~ i][k]}} </h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  

                </div> 
              {% endfor %} 
            </div>
                            {# <label class="subscribeButton btn">
                            <input type="hidden" class="hiddenCheckbox" name="{{ 'btn_' ~ meal ~ i }}" value="on">
                            <input type="hidden" class="hiddenState" value="on">
                            <i class="subscribeIcon bx bx-user-x"></i>
                            </label> #}
        </div> 
        {% endfor %} 
    </div>
{% endfor %}
</div>
  
</form> 
<script src="{{ absolute_url(asset('assets/script/script.js')) }}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{{ absolute_url(asset('assets/script/searchPlats.js')) }}"></script>
{% endblock %}

{% block javascripts %}
{% endblock %}

