{% extends 'base.html.twig' %}

{% block title %}Facturation{% endblock %}


{% block stylesheets %}
          <link rel="stylesheet" href={{ asset('assets/css/style_menuform.css') }}>
{% endblock %}


{% block body %}

<h1 class="invoice-title">Facture du : {{ DateT[0]|date('d/m/Y') }} au {{ DateT[1]|date('d/m/Y') }}</h1>

<div class="button-container">
  <a class="button" id="suiv-prec" href="{{ path('app_cuisinefacturation', { 'm_month_year': 'm_' ~ (month - 1) ~ '_' ~ year }) }}">
    Mois précédent
  </a>

  <a class="button" id="suiv-prec" href="{{ path('app_cuisinefacturation', { 'm_month_year': 'm_' ~ (month + 1) ~ '_' ~ year }) }}">
    Mois suivant
  </a>
</div>

<table class="invoice-table">
  <thead>
    <tr>
      <th>Email</th>
      {% for week in weeks %}
        <th>Semaine {{ week }}</th>
      {% endfor %}
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for email, data in Facture %}
      <tr>
        <td>{{ email }}</td>
        {% for week in weeks %}
          <td>{{ data['semaine'][week] ?? 0 }}</td>
        {% endfor %}
        <td>{{ data['somme'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
{% block javascripts %}
           <script src={{ asset('assets/script/script.js') }}></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src={{ asset('assets/script/searchPlats.js') }}></script>
    {% endblock %}


