<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css">
     <title>{% block title %} M.I.A.M {% endblock %} </title>
</head>

{% block stylesheets %}
           <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>
           
        {% endblock %}

<body>
        {% block navigation %}

    <header>
        <nav>
            <div class="nav-left">
                <a href="{{ path('app_usersprofile')}}"><img src={{ asset('assets/img/LOGO-CUBES-SEULS-blancs-copie.png') }} width="80px" alt=""></a>
            </div>
            
                <ul class="navlist">
                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                     <li><a href="{{ path('admin')}}">Panel Admin</a></li>
                    {% endif %}
                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                     <li><a href="{{ path('app_cuisinefacturation', {'m_month_year':'today'})}}">Tableau de facturation</a></li>
                    {% endif %}
                    {% if app.user %}
                    <li><a href="{{ path('app_showmenu', {'semaine_year':'today'}) }}">Menu de la semaine</a></li>
                    {% endif %}
                    {% if app.user %}
                    {% if 'ROLE_CUISINE' in  app.user.roles or 'ROLE_ADMIN' in  app.user.roles %}
                    {% else %}
                    <li><a href="{{ path('app_usersviewinscription', {'semaine_year':'today'})}}">Vos inscriptions</a></li>
                    {% endif %}
                    {% endif %}
                    
                    {% if app.user %} 
                    {% if 'ROLE_CUISINE' in  app.user.roles or 'ROLE_ADMIN' in  app.user.roles %}
                    {% else %} 
                    <li><a href="{{ path('app_usersprofile')}}">Mon profil</a></li>
                    {% endif %}
                    {% endif %}
                    {% if app.user %} 
                    {% if 'ROLE_CUISINE' in  app.user.roles or 'ROLE_ADMIN' in  app.user.roles  %} 

                    <li><a href="{{ path('app_cuisinerecuperation', {'semaine_year':'today'}) }}"> Voir les inscriptions </a></li>
                    {% endif %}
                    {% endif %}
                    
                    {% if app.user %} 
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %} 
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
                 <div class="bx bx-menu" id="menu-icon">
			
		        </div>
           
        </nav>
        
    </header>
    {% endblock %}
    
 {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{message}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        {{message}}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
{% endfor %}


        


    {% block body %} {% endblock %}
    
</body>

 {% block javascripts %}
           <script src={{ asset('/assets/script/script.js') }}></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src={{ asset('/assets/script/searchPlats.js') }}></script>
        {% endblock %}
   

</html>